WEB_VIEW_MODEL_TASHTIT/MODEL/Connected Services/MyService/MyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57674/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MODEL" />
  <xs:element name="SelectAllCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="SelectAllCitiesResult" nillable="true" type="q1:Cities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="city" nillable="true" type="q2:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="oldCity" nillable="true" type="q3:City" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="newCity" nillable="true" type="q4:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="city" nillable="true" type="q5:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllAreaCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllAreaCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="SelectAllAreaCodesResult" nillable="true" type="q6:AreaCodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="areaCode" nillable="true" type="q7:AreaCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAreaCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAreaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="oldAreaCode" nillable="true" type="q8:AreaCode" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="newAreaCode" nillable="true" type="q9:AreaCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAreaCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyAreaCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAreaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="areaCode" nillable="true" type="q10:AreaCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAreaCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAreaCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="SelectAllBrandsResult" nillable="true" type="q11:Brands" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="brand" nillable="true" type="q12:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="oldBrand" nillable="true" type="q13:Brand" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="newBrand" nillable="true" type="q14:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="brand" nillable="true" type="q15:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="SelectAllCategoriesResult" nillable="true" type="q16:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="category" nillable="true" type="q17:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="oldCategory" nillable="true" type="q18:Category" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="newCategory" nillable="true" type="q19:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="category" nillable="true" type="q20:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="SelectAllRolesResult" nillable="true" type="q21:Roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="role" nillable="true" type="q22:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="OldRole" nillable="true" type="q23:Role" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="newRole" nillable="true" type="q24:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="role" nillable="true" type="q25:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSizes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="SelectAllSizesResult" nillable="true" type="q26:Sizes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="size" nillable="true" type="q27:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="OldSize" nillable="true" type="q28:Size" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="newSize" nillable="true" type="q29:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifySizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MODEL" minOccurs="0" name="size" nillable="true" type="q30:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>